mat-card{
    margin: 25px;
}
mat-card-actions{
    text-align: right;
}

.loader-bar{
    margin-top: 10px;
    width: 100%;
}

table {
    width: 100%;
  }

  .start-survey-button{
    text-align: right;
  }
  /*table#t01 tr:nth-child(even) {
    background-color: rgba(235, 8, 204, 0.603);
  }
  table#t01 tr:nth-child(odd) {
    background-color: rgba(153, 153, 153, 0.897);
  }*/
  table#t01 th {
    color: white;
    background-color: #2e2e2ebd;
  }

  td{
      text-align: center;
  }