<mat-progress-bar class="loader-bar" color="primary" mode="buffer" *ngIf="gettingSurveys"></mat-progress-bar>
<mat-accordion>
  <mat-expansion-panel *ngFor="let survey of surveysInDB">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ survey.data().surveyTitle }}
      </mat-panel-title>
      <mat-panel-description>
        {{ survey.data().surveyDescription }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table>
      <tr>
        <td style="text-align:left">
          <button mat-button [routerLink]="['/report']"
          [queryParams]="{id: survey.id }">Reporte</button>
          <button mat-button color="warn" (click)="openDialog(survey)">Eliminar</button>
        </td>
        <td class="start-survey-button">
          <button mat-stroked-button (click)="onStartSurvey(survey)" >Comenzar Encuesta</button>
        </td>
      </tr>
    </table>    
    <br>
    <table id="t01">
        <tr>
          <th>No.</th>
          <th>Pregunta</th> 
          <th>Tipo</th>
          <th># Opciones</th>
        </tr>
        <tr *ngFor="let question of survey.data().questions">
          <td>{{question.numberOrd}}</td>
          <td>{{question.questionTxt}}</td> 
          <td>{{question.type}}</td>
          <td>{{question.type === 'Elección' || question.type === 'Opción Multitple' ?
            question.options.length : '-'}}</td>
        </tr>
      </table>
<p style="text-align:right">creada hace: {{ ago(survey.data().created.toDate()) }}</p>
  </mat-expansion-panel>
</mat-accordion>