<mat-form-field>
        <mat-select [(value)]="selected">
                <mat-option value="option1">Hoy</mat-option>
                <mat-option value="option2">Últimos 7 días</mat-option>
                <mat-option value="option3">Este Mes</mat-option>
        </mat-select>
</mat-form-field>

<app-today-chart-report id="today-report" *ngIf="selected == 'option1'"></app-today-chart-report>
<app-week-chart-report id="weekly-report" *ngIf="selected == 'option2'"></app-week-chart-report>
<app-month-chart-report id="monthly-report" *ngIf="selected == 'option3'"></app-month-chart-report>