
<table class="example-form">
    <tr>
      <td>
        <mat-form-field appearance="outline" class="inputQuestion">
            <mat-label>Titulo de la Encuesta</mat-label>
            <input matInput 
            #surveyTitle
            required
            placeholder="Titulo" 
            type="text">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="questionCreatonBtn">
        <button mat-raised-button 
        color="primary"
        routerLink="/survey-questions"
        (click)="onGoToQuestions(surveyTitle.value)"
        [disabled]="!surveyTitle.value.length > 0">
        Ingresar Preguntas
      </button>
    </td>
    </tr>
    <tr>
      <td>
          <mat-radio-group>
              <mat-radio-button *ngFor="let type of surveyTypes; let i of index" [value]="i" color="primary">{{ type }}</mat-radio-button>
            </mat-radio-group>
      </td>
    </tr>
</table>
