.example-form {
  margin-top: 5%;
  min-width: 150px;
  padding-left: 7%;
  padding-right: 10%
}

mat-list{
  padding: 5%;
}

.satisfactionIcon{
  text-align: center;
  font-size: 800%;
}

.typeList{
  width: 100px; 
}

table, th, td {
  width: 100%;
}

.questionCreatonBtn{
  text-align: right;
}

.inputQuestion{
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

