<table class="example-form">
    <button mat-icon-button routerLink="/first-page">
      <mat-icon aria-label="back to title">arrow_back</mat-icon>
    </button>
  <tr>
    <td colspan="2">
        <mat-form-field appearance="outline" class="inputQuestion">
            <mat-label>Pregunta {{ count }}</mat-label>
            <input matInput 
            #questionTxt
            required 
            placeholder="Ingresa la Pregunta" 
            type="text">
          </mat-form-field>
    </td>
  </tr>
  <tr><!--Input Type-->
    <td class="typeList">
        <mat-radio-group class="example-radio-group" [(ngModel)]="radioType">
            <mat-radio-button class="example-radio-button"
             *ngFor="let type of questionType" [value]="type" color="primary">
              {{type}}
            </mat-radio-button>
          </mat-radio-group>    
    </td>
      <td><!--Select Input Question-->
        <!--Icon-->
        <mat-icon class="satisfactionIcon" aria-label="back to title" *ngIf="questionType[0]===radioType">mood</mat-icon>
         <!--Options-->
         <div *ngIf="questionType[1]===radioType">
            <mat-form-field class="inputQuestion" *ngFor="let letter of optionLetter" class="container">
                <input matInput placeholder="Opcion {{ letter }}" type="text"  [(ngModel)]="optionEntry" [value]="option">
                <span matPrefix>{{letter}}&#41;&nbsp;&nbsp;</span>
                <button matSuffix mat-icon-button *ngIf="optionLetter.length > 2" (click)="onDeleteOption(letter)">
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
            </mat-form-field>
            <span>{{optionEntry}}</span>
            <button mat-icon-button (click)="onAddOption()">
              <mat-icon aria-label="add option">add</mat-icon>
            </button>
        </div>
        <!--Text Area-->
          <mat-form-field class="inputQuestion" *ngIf="questionType[2]===radioType">
              <textarea matInput placeholder="Area de Texto Abierta" disabled="true"></textarea>
            </mat-form-field>
      </td>
  </tr>
  <tr><!--Button Section-->
      <td class="questionCreatonBtn" colspan="2">
          <button 
          routerLink="/survey-questions"
          mat-raised-button 
          color="primary"
          (click)="onAddQuestion(questionTxt.value); questionTxt.value = ''"
          [disabled]="!(questionTxt.value.length > 0 && radioType != '')">
          Ingresar Pregunta
        </button>
          <button style="margin-left:10px"
          mat-raised-button 
          color="warn"
          (click)="onFinishSurvey()"
          [disabled]="!questionsSet.length > 0"
          routerLink="/home">
          Terminar Encuesta
        </button>
      </td>
    </tr>
</table>

<mat-progress-bar color="primary" mode="query" *ngIf="sendingSurvey"></mat-progress-bar>

<mat-list role="list" *ngIf="questionsSet.length > 0">
  <h3>Preguntas en la encuesta:</h3>
  <mat-list-item role="listitem" *ngFor="let question of  questionsSet; let i = index">
  {{i + 1}}.-{{question.questionTxt}}
</mat-list-item>
</mat-list>