<table class="example-form">
    <button mat-icon-button routerLink="/first-page">
      <mat-icon aria-label="back to title">arrow_back</mat-icon>
    </button>
  <tr>
    <td colspan="2">
        <mat-form-field appearance="outline" class="inputQuestion">
            <mat-label>Pregunta {{ count }}</mat-label>
            <input matInput 
            #questionTxt
            required 
            placeholder="Ingresa la Pregunta" 
            type="text">
          </mat-form-field>
    </td>
  </tr>
  <tr>
    <td class="typeList">
        <mat-radio-group class="example-radio-group" [(ngModel)]="radioType">
            <mat-radio-button class="example-radio-button"
             *ngFor="let type of questionType" [value]="type" color="primary">
              {{type}}
            </mat-radio-button>
          </mat-radio-group>    
    </td>
      <td><!--Select Input Question-->
        <mat-icon class="satisfactionIcon" aria-label="back to title" *ngIf="'satisfaction'==radioType">mood</mat-icon>
          <mat-form-field class="inputQuestion" *ngIf="'open'==radioType">
              <textarea matInput placeholder="Textarea" disabled="true"></textarea>
            </mat-form-field>
            <div *ngIf="'options'==radioType">
                <mat-form-field class="inputQuestion">
                    <input matInput placeholder="Opcion {{ optionLetter }}" type="text">
                    <span matPrefix>{{optionLetter}}&#41;</span>
                </mat-form-field>
                <button mat-icon-button>
                  <mat-icon aria-label="back to title">add</mat-icon>
                </button>
            </div>
      </td>
  </tr>
  <tr>
      <td class="questionCreatonBtn" colspan="2">
          <button 
          routerLink="/survey-questions"
          mat-raised-button 
          color="primary"
          (click)="onAddQuestion(questionTxt.value); questionTxt.value = ''"
          [disabled]="!questionTxt.value.length > 0">
          Ingresar Preguntas
        </button>
          <button style="margin-left:10px"
          mat-raised-button 
          color="warn"
          (click)="onFinishSurvey()"
          [disabled]="!questionsSet.length > 0">
          Terminar Encuesta
        </button>
      </td>
    </tr>
</table>


<mat-list role="list" *ngIf="questionsSet.length > 0">
    <h3>Preguntas en la encuesta:</h3>
  <mat-list-item role="listitem"
  *ngFor="let question of  questionsSet; let i = index">
  <h4>{{i + 1}}.-{{question }}</h4>
</mat-list-item>
</mat-list>