<mat-progress-bar color="primary" mode="buffer" *ngIf="sendingSurvey"></mat-progress-bar>
<table class="example-form">
    <button mat-icon-button routerLink="/first-page">
      <mat-icon aria-label="back to title">arrow_back</mat-icon>
    </button>
  <tr>
    <td colspan="2">
        <mat-form-field appearance="outline" class="inputQuestion">
            <mat-label>Pregunta {{ count }}</mat-label>
            <input matInput 
            #questionTxt
            required 
            placeholder="Ingresa la Pregunta" 
            type="text">
          </mat-form-field>
    </td>
  </tr>
  <tr><!--Input Type-->
    <td class="typeList">
        <mat-radio-group class="example-radio-group" [(ngModel)]="radioType">
            <mat-radio-button class="example-radio-button"
             *ngFor="let type of questionType" [value]="type" color="primary">
              {{type}}
            </mat-radio-button>
          </mat-radio-group>    
    </td>
      <td><!--Select Input Question-->
        <!--Satisfaction Icon-->
        <mat-icon class="satisfactionIcon" aria-label="back to title" *ngIf="questionType[0]===radioType">mood</mat-icon>
         <!--Options Input-->
         <div *ngIf="questionType[1]===radioType || questionType[3]===radioType">
           <mat-form-field appearance="legacy" class="inputQuestion">
             <input matInput placeholder="{{radioType}} A" type="text" [(ngModel)]="optInp1">
             <span matPrefix>a)&nbsp;</span>
            </mat-form-field>
            <mat-form-field *ngIf="optionCount >= 2" appearance="legacy" class="inputQuestion">
                <input matInput placeholder="{{radioType}} B" type="text"[(ngModel)]="optInp2">
                <span matPrefix>b)&nbsp;</span>
               </mat-form-field>
               <mat-form-field *ngIf="optionCount >= 3" appearance="legacy" class="inputQuestion">
                  <input matInput placeholder="{{radioType}} C" type="text" [(ngModel)]="optInp3">
                  <span matPrefix>c)&nbsp;</span>
                 </mat-form-field>
                 <mat-form-field *ngIf="optionCount >= 4" appearance="legacy" class="inputQuestion">
                    <input matInput placeholder="{{radioType}} D" type="text" [(ngModel)]="optInp4">
                    <span matPrefix>d)&nbsp;</span>
                   </mat-form-field>
                   <mat-form-field *ngIf="optionCount >= 5" appearance="legacy" class="inputQuestion">
                      <input matInput placeholder="{{radioType}} E" type="text" [(ngModel)]="optInp5">
                      <span matPrefix>e)&nbsp;</span>
                     </mat-form-field>
                     <mat-form-field *ngIf="optionCount >= 6" appearance="legacy" class="inputQuestion">
                        <input matInput placeholder="{{radioType}} F" type="text" [(ngModel)]="optInp6">
                        <span matPrefix>f)&nbsp;</span>
                       </mat-form-field>
                 <!--button to add option-->
                 <button mat-icon-button 
                 (click)="onAddOptions(optInp1,optInp2,optInp3,optInp4,optInp5,optInp6)"
                 matTooltip="Cargar opciones a la pregunta, opciones vacias seran ignoradas">
                     <mat-icon aria-label="finish option">done</mat-icon>
                 </button>
                 <button mat-icon-button matTooltip="Agregar otra Opcion"
                 (click)="onAddNewOption()"
                 [disabled]="optionCount === 6">
                    <mat-icon aria-label="finish option">add</mat-icon>
                </button>
         </div>         
        <!--Text Area-->
          <mat-form-field class="inputQuestion" *ngIf="questionType[2]===radioType">
              <textarea matInput placeholder="Area de Texto Abierta" disabled="true"></textarea>
            </mat-form-field>
      </td>
  </tr>
  <tr><!--Button Section-->
      <td class="questionCreatonBtn" colspan="2">
          <button 
          routerLink="/survey-questions"
          mat-raised-button 
          color="primary"
          (click)="onAddQuestion(questionTxt.value); questionTxt.value = ''"
          [disabled]="!(questionTxt.value.length > 0 && radioType != '')">
          Ingresar Pregunta
        </button>
          <button style="margin-left:10px"
          mat-raised-button 
          color="warn"
          (click)="onFinishSurvey()"
          [disabled]="!questionsSet.length > 0"
          matTooltip="Encuesta debe de tener al menos 3 preguntas">
          Terminar Encuesta
        </button>
      </td>
    </tr>
</table>
<mat-list role="list" *ngIf="questionsSet.length > 0">
  <h3>Preguntas en la encuesta:</h3>
  <mat-list-item role="listitem" *ngFor="let question of  questionsSet; let i = index">
  {{i + 1}}.-{{question.questionTxt}}
</mat-list-item>
</mat-list>